{% extends "main.html" %}



{% block header %}

    <h1>{{ header_text }}</h1>

{% end %}



{% block body %}

    <div id="hello">

        <p>Welcome to Burt's Books!</p>

        <p>...</p>

    </div>

{% end %}

<!--
<html>

    <head><title>Poem Maker Pro</title></head>

    <body>

        <h1>Enter terms below.</h1>

        <form method="post" action="/poem">

        <p>Plural noun<br><input type="text" name="noun1"></p>

        <p>Singular noun<br><input type="text" name="noun2"></p>

        <p>Verb (past tense)<br><input type="text" name="verb"></p>

        <p>Noun<br><input type="text" name="noun3"></p>

        <input type="submit">

        </form>

    </body>

</html>
-->