<!DOCTYPE html>

<html>

    <head><title>Poem Maker Pro</title></head>

    <body>

        <h1>Your poem</h1>

        <p>Two {{roads}} diverged in a {{wood}}, and I—<br>

I took the one less travelled by,<br>

And that has {{made}} all the {{difference}}.</p>

    </body>

</html>